<h1>
  {{title}}
</h1>


<form name="lesson_form">

<table>
   <!--
    https://angular.io/docs/ts/latest/guide/pipes.html
     The AsyncPipe accepts a Promise or Observable 
     as input and subscribes to the input automatically,
      eventually returning the emitted value(s).
      ViewがServiceの変更に即座にReactする仕組みとして async pipeを用いる。
      asyncを用いることで、Viewの中でObservableのデータをsubscribeすることができるようになる。
     
     ここで、lessons$はobservableなので、普通のArray型のようには使えない。
   　 async pipeをつけるこおにより、observableをsubscribeし、取得したResをngForに渡す。-->
   <tr><th>name</th><th>context</th><th>delete</th></tr>
  <tr *ngFor="let lesson of lessons$ | async">
    <td>{{lesson.name}}</td> <td> {{lesson.context}}</td><td><span id="lesson_{{lesson.id}}" ><input type="checkbox"></span></td>
  </tr>
</table>


  Add lesson<br>
<input placeholder="lesson name 1" #lesson_name> <input  placeholder="lesson context 1" #lesson_context>

<input type="button" value="submit" (click)="button_click(lesson_name.value, lesson_context.value); lesson_context.value = null;lesson_name.value = null; ">
</form>



Fixed Lesson to check the failure
  <ul *ngFor="let lesson of Fixedlessons$ | async">
    <li>{{lesson.name}} |  {{lesson.context}}</li>
  </ul>
  <input type="button" (click)="reload_fixed_lesson()" value = "reload fixed data">

<br><br><br>
Filtered Lesson 

<!-- 入力文字列の部分一致で名前があったものを検索。ここで、文字を高速で入力した場合には最後だけを処理するようにする。 -->
<span id="filter_input">
<input type="text" placeholder="filter by name">
</span>

  <ul *ngFor="let lesson of FilteredLesson_arr">
    <li>{{lesson.name}} |  {{lesson.context}}</li>
  </ul>
